body{
    margin: auto 0;
    
}

.text{
    background-color: aliceblue;
    border-radius: 20px;
    width: 400px;
    height: 198px;
    position: relative;
    top: 10rem;
    left: 450px;
    text-align: center;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    z-index: 200;
    color: rgb(131, 131, 219) ;
        border: solid 2px blue;
     /* background-color:rgb(131, 131, 219); */
     box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.yes{
    position: relative;
    bottom: 2rem;
}

.Date{
    width: 9rem;
    position: relative;
    bottom: 10px;
}

.container{
    /* margin: -40px 0; */
    /* background-color: rgb(223, 130, 158); */
    background-color: rgb(131, 131, 219);
    width: 93%;
    height: 86vh;
    border: solid aliceblue 47px;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


img{
    width: 170px;
    height: 180px;
}

.cute{
    position: relative;
    left: 26rem;
    top: 9rem;
    border-radius: 10rem;
    border: solid 2px white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.rich{
    position: relative;
    right: 28rem;
    bottom: 12rem;
    border-radius: 4rem;
    width: 170px;
    height: 180px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* border: red 5px solid; */
     border: solid 1px white;
}

.second{
    position: relative;
    margin-top: 20rem;
    text-align: center;
    bottom: 15rem;
    height: 55rem;

    /* background-color: lightpink; */
}

.diy{
    border: solid 2px rgb(131, 131, 219);
    border-radius: 10rem;
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.vel{
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(131, 131, 219);
}

.line{
    position: relative;
    top: 20px;
}


.lit{
    position: relative;
    border-radius: 15rem;
    left: 50rem;
    bottom: 12rem;
    height: 7rem;
    width: 7rem;
    border: solid 2px blue;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.jane{
    position: relative;
    /* border-radius: rem; */
    right: 5rem;
    top: 8rem;
    height: 6rem;
    width: 6rem;
    border: solid 1px white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.mik{
    position: relative;
    border-radius: 15rem;
    left: 55rem;
    bottom: 16rem;
    height: 7rem;
    width: 7rem;
    border: white 2px dashed;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.lite{
      position: relative;
    border-radius: 15rem;
    left: 2rem;
    /* bottom: 12rem; */
    top: 4rem;
    height: 7rem;
    width: 7rem;
    border: solid 2px blue;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    z-index: 1000;

}

.tet{
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.lne{
    position: relative;
    top: 28px;
}

.penny{
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    bottom: 3.5rem;
    border: 7px;
    border-radius: 5px;

}
.ponny:hover{
    color: #000;
}
.ponny{
     font-size: 15px;
    /* color: rgb(131, 131, 219); */
    color: blue;
    text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
}



    
    .peny{
     position: relative;
    border: 7px;
    border-radius: 5px;
    top: 2rem;
    left: 41rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .pen{
         position: relative;
    border: 7px;
    border-radius: 5px;
    top: 2rem;
    right: 39rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    


 .pony{
     font-size: 15px;
    
    color: rgb(15, 14, 14);
    text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
}

.pony:hover{
   color: rgb(131, 131, 219)}


    .new{
        background-color: wheat;
        justify-content: center;
        border: 50px solid rgb(131, 131, 219) ;
    } 

/* .image p{
  color: red;
  font-size: 20rem;
} */
