*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navi a{
    text-decoration: none;
    padding: 9px 15px;
    font-size: 17px;
    /* color: rgb(0, 0, 97); */
    color: white;
}
a:hover{
    color:blue;
}

.navi{
     position: fixed;
  /* background-color: rgb(84, 84, 228); */
  background-color: transparent;
  backdrop-filter: blur(20px);
  top: 0;
  left: 0;
  right: 0;

  /* transition: all 5s ease-in-out; */
}  


.logo{
     padding: 7px 20px;
     /* color: rgb(0, 0, 97) */
     color: white;
}


.texts{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 12px 35px;
     color: white;
     font-family:sans-serif;

  /* transition: all 0.3s ease-in-out; */
}


.navi.scrolled{
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}


.logo:hover{
    color: blue;
}


.navi ul{
    list-style-type: none;
    justify-content:space-between;
    align-items:end;
    display: flex;
    gap: 3px;
    /* color: white; */
    padding: 0 20px;
    font-weight: 600;
    


}

.hero{
    background-image: url("https://images.unsplash.com/photo-1644088379091-d574269d422f?q=80&w=1093&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
  background-size:cover;
  background-position: bottom center;
  height: 100vh;
  width: 50wh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  /* margin-bottom: 20px; */
  z-index: -2;
}

.hero::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 4); */
}

.hero h2{
    font-size: 50px;
    z-index: 1;
}


.letcon h2 {
  font-size: 51px;
  /* margin: -200px 100 300px;  */
  padding: 10px 10px;

}

.hero p {
  font-size: 20px;
  /* letter-spacing: 1px; */
  width: 90%;
}


.zoo{
    padding: 20px 40px;
    font-family: sans-serif;
    line-height: 2;
    background-color: rgb(165, 165, 240);
    padding: 14px 30px;
}
